<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			HackThisSite
			<a class="btn btn-default btn-sm" role="button" data-toggle="collapse" data-parent="#accordion" href="#hackthissite" aria-expanded="true" aria-controls="hackthissite">
				(Expand me!) <span class="caret"></span>
			</a>
		</h3>
	</div>
	<div class="panel-body">
		<p>Hack This Site is a free, safe and legal training ground for hackers to test and expand their hacking skills. More than just another hacker wargames site, we are a living, breathing community with many active projects in development, with a vast selection of hacking articles and a huge forum where users can discuss hacking, network security, and just about everything. Tune in to the hacker underground and get involved with the project.</p>
	</div>
	<div id="hackthissite" class="panel-collapse collapse" role="tabpanel" aria-labelledby="hackthissite">
		<table class="table">
			<tr> <!-- table row -->
				<th> Stats </th> <!-- table header -->
				<th> # </th>
			</tr>
			<tr>
				<td> Num Users: </td>
				<td> 3000 </td>
			</tr>
			<tr>
				<td> Num Posts: </td>
				<td> 3000 </td>
			</tr>
			<tr>
				<td> Num Threads: </td>
				<td> 3000 </td>
			</tr>
			<tr>
				<td> Num Days Active: </td>
				<td> 3000 </td>
			</tr>
			<tr>
				<td> Num IP's: </td>
				<td> 3000 </td>
			</tr>
			<tr>
				<td> Num Suspicious Users: </td>
				<td> 3000 </td>
			</tr>
			<tr>
				<td> Num Suspicious IP's: </td>
				<td> 3000 </td>
			</tr>
		</table>
		<div class="panel-footer right-align">
			<a href='#' class="btn btn-outline-success pull-right" role="button">
				Check me out!
			</a>
			<div class="clearfix"></div>
		</div>
	</div>
</div>