<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">
			Offensive Community
			<a class="btn btn-default btn-sm" role="button" data-toggle="collapse" data-parent="#accordion" href="#offcomm" aria-expanded="true" aria-controls="offcomm">
				Examine <i class="glyphicon glyphicon-triangle-bottom"></i>
			</a>
		</h3>
	</div>
	<div class="panel-body">
		<p>Offensive Community is a world best underground hacking forum that provides tutorials, latest hacking techniques, free tools and a great online teaching to our members. Join the forum Now.
		Feel free to join our community.</p>
	</div>
	<div id="offcomm" class="panel-collapse collapse" role="tabpanel" aria-labelledby="offcomm">
		<table class="table">
			<tr> <!-- table row -->
				<th> Stats </th> <!-- table header -->
				<th> # </th>
			</tr>
			<tr>
				<td> Num Users: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Posts: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Threads: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Days Active: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num IP's: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Suspicious Users: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Suspicious IP's: </td>
				<td> 1000 </td>
			</tr>
		</table>
	</div>
</div>