<div class="panel panel-default">
	<div class="panel-heading" role="button" data-toggle="collapse" data-parent="#accordion" href="#wilders" aria-expanded="true" aria-controls="wilders">
		<h3 class="panel-title">
			Wilder's Security Forum <span class="caret"> </span>
		</h3>
	</div>
	<div class="panel-body">
		<p>Community Based Discussions about Online Privacy, Security and Data Protection.</p>
	</div>
	<div class = "panel-footer clearfix">
		<p> Num Users: 1000, Num Posts: 1000, Num Days Active: 1000
			<a class="btn btn-primary btn-sm pull-right" role="button" href='/forum'>
				Check me out!
			</a>
		</p>
	</div>
	<div id="wilders" class="panel-collapse collapse" role="tabpanel" aria-labelledby="wilder">
		<table class="table">
			<tr> <!-- table row -->
				<th> Stats </th> <!-- table header -->
				<th> # </th>
			</tr>
			<tr>
				<td> Num Users: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Posts: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Threads: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Days Active: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num IP's: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Suspicious Users: </td>
				<td> 1000 </td>
			</tr>
			<tr>
				<td> Num Suspicious IP's: </td>
				<td> 1000 </td>
			</tr>
		</table>
		<div class="panel-footer right-align">
			<a href='/forum' class="btn btn-primary btn-sm pull-right" role="button">
				Check me out!
			</a>
			<div class="clearfix"></div>
		</div>
	</div>
</div>