.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

.lightText {
	color: #F3F3F3;
}

.nav-inverse{
	background: #333;
}

.shorten-panel-group{
	margin: 0 auto;
	width: 66%;
}

Textarea {
    resize: none;
}