.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #333;
}

.lightText {
	color: #F3F3F3;
}

.nav-inverse{
	background: #333;
}

.shorten-panel-group{
	margin: 0 auto;
	width: 66%;
}
.green{
	color:#1ABB9C
}

.red{
	color:#FF6384
}

.count{
	font-size:30px;line-height:47px;font-weight:600
}