<div class="col-sm-3 col-md-3 col-xs-12">
    <div class="x_panel tile" style="height: 600px">
        <div class="x_title">
            <h2># of Posts per User</h2>
            <a href="#graph2" data-toggle="collapse"><i class="fa fa-chevron-up pull-right"></i></a>
            <div class="clearfix"></div>
        </div>
        <div class="x_content collapse in" id="graph2">
            insert here
        
        </div>
        <!--
        <div class="caption">
            <h3>Graph</h3>
            <p>Total number of posts in over one month</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
        </div>-->
    </div>
</div>